header {
  padding: 24px 24px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #ffffff90;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;

  @media (min-width: 768px) and (max-width: 992px) {
    padding: 24px 48px;
  }

  @media (min-width: 992px) {
    padding: 24px 64px;
  }

  .mobile {
    width: 28px;
    height: 28px;
    @media (min-width: 768px) {
      display: none;
    }
  }

  &.visible {
    top: 0;
  }

  &.hidden {
    top: -80px;
  }

  .help, .logo {
    display: none;
    align-items: center;


    @media (min-width: 768px) {
      display: flex;
    }
  }
  .help{
    gap: 4px;
    color: #474747;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

  }
}
