.ticketbooking-container {
    display: grid;
    gap: 24px;

    color: #474747;

    label {
        color: #474747;
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header {
        font-size: 18px;
        font-weight: 600;
        @media (min-width: 600px) {
            font-size: 24px;
        }

    }

    .subheading {
        font-size: 14px;
        font-weight: 400;
        margin-top: -18px;


    }
}

form {
    display: grid;
    gap: 24px;

    .form-group {
        position: relative;

        .error {
            position: absolute;
            color: #D20037;
            font-size: 12px;
            font-weight: 400;
            bottom: -20px;
            left: 0;
        }


    }

    .form-group:has(.error) {
        margin-bottom: 32px;

        input {
            border: 1px solid #D20037;
        }

        label {
            color: #D20037;
        }
    }

    .form-group label {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        transition: all 0.2s ease;
        color: #595959;
        background-color: #fff;
        padding: 2px 4px;
        font-size: 12px;
        font-weight: 400;
    }

    input,
    select {
        width: 100%;

        padding: 16px 20px;
        border: 1px solid #D6D6D6;
        border-radius: 4px;
        font-size: 16px;
        border-radius: 12px;
        outline: none;

        &:focus {
            border: 1px solid #252525;
        }


    }


    .form-group.focused label {
        top: 0px;
        font-size: 12px !important;

    }

    .form-group:has(select)>label {
        top: 0px;
        font-size: 12px !important;
    }

    input:not(:placeholder-shown)+label {
        top: 0px;
        font-size: 12px !important;
    }

    button {
        outline: none;
        border: none;
        background-color: #0A0A0A;
        color: #FFFFFF;

        padding: 12px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-radius: 12px;
        border: 1px solid #0A0A0A;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;


        &:hover {
            background-color: #FFFFFF;
            color: #0A0A0A;
            
            svg{
               filter : invert(1) ;
            }
        }

        @media (min-width: 600px) {
            max-width: 198px;
        }

    }
}



.payment-option {
    border-bottom: 0.075rem solid #D6D6D6;

    .option-wrapper {
        display: grid;

        gap: 8px;
        grid-template-columns: 1fr auto;
        padding: 24px 0;

        >div {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            font-weight: 600;
            color: #474747;

        }
    }
}

.klarna-form {
    @extend .header;
    padding: 24px 0;


}

.subscription-box {
    background-color: #F5F5F5;
    padding: 16px;
    display: grid;
    grid-gap: 8px;
    font-size: 12px;

    border-radius: 12px;
    grid-template-columns: auto 1fr;
    align-items: start;
}


.tnc-wrapper {
    font-size: 12px;
    font-weight: 400;
    color: #595959;

    a {
        color: #1733B6;
    }
}

.responsive-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 24px;

    @media (min-width: 1200px) {
        grid-template-columns: 1fr 1fr;
    }
}