footer {
    background-color: #0A0A0A;
    padding: 40px 24px;
    display: grid;
    gap: 40px;

    .links {
        display: flex;
        gap: 40px;
        flex-direction: column;
        justify-content: flex-start;

        @media (min-width: 768px) {
            flex-direction: row-reverse;
            justify-content: space-between;
            border-top : 1px solid #474747;
            padding-top: 24px;
        }


        .scial-wrapper {
            display: flex;
            gap: 16px;



            @media (min-width: 768px) {
                img {
                    width: 20px;
                    height: 20px;
                }

            }
        }
            .disclaimer {
                color: #EBEBEB;

                a {
                    color: #EBEBEB;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }